.subTitulo{
    margin-bottom: 3%;
}

.divInputs2{
    width: auto;
    margin: 2% 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divInputs2 div{
    width: 48%;
}
.divInputs2 div input{
    width: 88%;
}

.iniciarSesion{
    margin: 6% 0 2% 30% !important;
}
.btnGoogle{
    font-size: 1.3rem;
    padding: 1% 16%;
    margin: 0% 10% !important;
    background-color: #1e293b;
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnGoogle img{
    width: 25px;
    margin: 0 15px 0 0;
}
.btnGoogle p{
    margin: 0px;
}