/* BarcoFondo */
.barcoFondo{
    background: url('../../public/BarcoFondo13.jpeg') center no-repeat fixed;
    height: 100%;
    width: 100%;
}
/* Menu Singin y Singup */
.sing{
    display: flex;
    align-items: center;
}

/* InfoStwardCorp */
.infoStwardCorp{
    width: 40%;
    row-gap: 5rem;
    min-height: 100vh;
    color: white;
    background-color: rgb(15, 23, 42, 0.85);
}
.infoStwardCorp img{
    width: 70%;
}
.infoStwardCorp p{
    font-size: 1.4rem;
    width: 70%;
    text-align: justify;
}
.btnScrollIniciarSesion{
    color: white;
    display: none;
    width: 60%;
}

/* Contenido */
.contenidoPrincipal{
    width: 50%;
    height: 94vh;
    color: white;
    background-color: rgb(15, 23, 42, 0.55);
    padding: 3vh 10%;
    font-size: 1.3rem;
}

.subTitulo{
    margin: -3% 0 0% 0;
    text-align: justify;
    font-size: 1.6rem;
}
.gris{
    color: rgb(193, 193, 193);
}
::placeholder{
    color: rgb(193, 193, 193);
}

.iniciarSesion, .btnScrollIniciarSesion{
    font-size: 1.3rem;
    padding: 1% 10%;
}
.bottomPrimario{
    background-color: #167ee6;
    color: white;
    border-radius: 25px;
}
.linkTo{
    font-weight: bold;
    color: #2563eb;
}
.mensajeAlerta{
    margin-left: '16%';
    color: 'red';
    background-color: 'white';
    border-radius: '10px';
    padding: '0px 5px';
    text-align: 'center';
    width: '300px';
}

/* Estilos del Singin */
.divRecordar{
    width: 90%;
    margin: 4% 0 4% 10%;
}
.divInputs{
    width: 80%;
    margin: 2% 10% !important;
    display: block !important;
}
.divInputs input, .divInputs2 input{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 8px 5px;
    font-size: 1.2rem;
    width: 95%;
}
input[type=checkbox] {
    transform: scale(1.5);
    border: 2px solid white;
    margin-right: 4%;
}

/* Estilos del Singup */
.subTitulo{
    margin-bottom: 3%;
}
.divInputs2{
    width: 100%;
    margin: 2% 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divInputs2 div{
    width: inherit;
}
.btnGoogle{
    font-size: 1.3rem;
    padding: 1% 16%;
    margin: 0% 10% !important;
    background-color: #1e293b;
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnGoogle img{
    width: 25px;
    margin: 0 15px 0 0;
}
.btnGoogle p{
    margin: 0px;
}
.flexCenterColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .sing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .infoStwardCorp{
        width: 100%;
    }
    .contenidoPrincipal{
        width: 90%;
        padding: 5%;
    }
    .btnScrollIniciarSesion{
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    
    .contenidoPrincipal{
        padding: 25% 5%;
        width: 90%;
    }
    .divInputs2{
        display: block;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }
    .divInputs2 div{
        width: 100%;
    }
    .divInputs div input, .divInputs2 div input{
        width: 92% !important;
    }
}
