.divRecordar{
    margin-left: 10%;
}
.divInputs{
    width: 80%;
    margin: 4% 10% !important;
    display: block !important;
}
.divInputs input, .divInputs2 input{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    width: 90%;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 1.2rem;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 2%;
    background-color: transparent;
    border: 2px solid white;
}
.iniciarSesion{
    margin: 8% 0 4% 30% !important;
}